body {
  background: grey;
  font-weight: bold;
  margin: 10px;
  margin-top: 100px;
}

h1, h2, h3, p {
  text-shadow: 0px 0px 1px black;
}
#hero {
  width: 350px;
  height: 450px;
  border: 5px solid #F06105;
  border-radius: 20px;
  background: #1d3557;
  padding-left: 20px;
}


h1 {
  margin-top: 80px;
  margin-bottom: 5px;
  color: white;
}

h2 {
  margin-top: 5px;
  margin-bottom: 5px;
  color: #32cd80;
}

p {
  margin-top: 5px;
  margin-bottom: 40px;
  color: lightgrey;
  font-weight: normal;
}
button {
  width: 150px;
  padding: 10px;
  border: none;
  border-radius: 5px;
}

#input-length {
  width: 130px;
  padding: 8px;
  border: none;
  border-radius: 5px;
  margin-right: 5px;
}
#btn-gp {
  margin-bottom: 0px;
  background: #F06105;
  color: white;
}

#btn-gp:hover {
  border: 2px solid skyblue;
}



#btn1-pw {
  margin-top: 20px;
  color: #32cd80;
  height: 35px;
  border: 1px solid #457b9d ;
  background: #1d3557;
  margin-right: 3px;
  
}

#btn2-pw {
  margin-top: 20px;
  color:#32cd80;
  height: 35px;
  border: 1px solid #457b9d ;
  background: #1d3557;
  margin-left: 3px;
  
}


#btn1-pw:hover {
  border: 2px solid #ffffff;
}

#btn2-pw:hover {
  border: 2px solid #Ffffff;
}

/*#btn1-cp {
  margin-top: 10px;
  background: #32cd80;
  color: white;
  margin-right: 3px;
  
}*/

/*#btn2-cp {
  margin-top: 10px;
  background: #32cd80;
  color: white;
  margin-left: 3px;
  
}*/

